.CounterControl {
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    margin: 16px;
    border: 1px solid #eee;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.CounterControl:hover,
.CounterControl:active {
    background-color: rgb(51, 5, 5);
    box-shadow: 0 2px 2px rgb(187, 9, 9);
    border: 2px solid rgb(224, 67, 67);
    color: #eee;
}